body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}


body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
@media screen and (min-width: 720px) {
    .container {
        width: 720px;
    }
}

@media screen and (min-width: 960px) {
    .container {
        width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
.overflow-hidden {
    overflow: hidden;
}

[data-custom-tooltip] {
    top: 2px;
    position: absolute;
    z-index: 2;
    transition: left .05s ease;
}

[data-custom-tooltip] .custom-tooltip {
    padding: 5px 6px;
    border-radius: 3px;
    background: rgba(101, 101, 101, 1);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

[data-tooltip-corner] {
    position: absolute;
    top: 30px;
    bottom: -8px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    box-sizing: content-box;
    border: 4px solid transparent;
    border-top-color: rgba(101, 101, 101, 1);
    opacity: 0;
    visibility: hidden;
    transition: left .05s ease;
}

[data-custom-tooltip] .custom-tooltip .price {
    font-weight: bold;
    margin-right: 4px;
}
